<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <header>
            <h1>Main Feed Page</h1>
        </header>
        <button><a href="/post_tweet/">Post a Tweet</a></button>
        <button><a href="/logout/">Logout</a></button>
        <button><a href="/user_page/{{request.user.id}}">Profile Page</a></button>
        <button><a href="/notifications/{{request.user.id}}">Notifications {{ notify.count }}</a></button>
        <br>
        <br>
        <ul>
            {% for tweet in tweets %}
            <li>
                <a href="/tweet_page/{{tweet.id}}">{{ tweet.body }}</a> <br>
                <a href="/user_page/{{tweet.created_by.id}}">{{ tweet.created_by }} on {{ tweet.created_on }}</a>
            </li>
            <br>
            {% endfor %}
        </ul>
    </body>

</html>