<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <header>
            <h1 style="text-align: center;">{{ user.first_name }}'s Notifications</h1>
        </header>
        <button><a href="/">Home</a></button>
        <button><a href="/user_page/{{request.user.id}}">Profile Page</a></button>
        <button><a href="/post_tweet/">Post a Tweet</a></button>
        <button><a href="/logout/">Logout</a></button>
        <br>
        <br>
        {% for note in notify %}
        <ul>
            <li>You were mentioned in a <a href="/tweet_page/{{note.tweet.id}}">Tweet</a> by <a href="/user_page/{{note.tweet.created_by.id}}">{{note.tweet.created_by}}</a> at {{note.tweet.created_on}}</li>
        </ul>
        {% endfor %}
    </body>

</html>