<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h1>Page to Post Your Tweets</h1></header>
    <form action="" method="POST">
        <button><a href="/logout/">Logout</a></button>
        <button><a href="/user_page/{{request.user.id}}">Profile Page</a></button>
        <button><a href="/">Home</a></button>
        {% csrf_token %}
        <table>
            {{ post.as_table }}
        </table>
        <input type="submit" value="Post">
    </form>
</body>
</html>